:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--Grey-100);
  padding: 4rem 1.5rem;
  min-height: 80vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 100rem;
  margin: 0 auto;
}

.content {
  position: relative;
  color: var(--White);
  border-radius: 8px;
  padding: 1.5rem;
  font-size: 1rem;
}

.content img:first-child {
  border-radius: 50%;
  width: 2rem;
  border: 1px solid var(--White);
}

.content img:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 5rem;
  z-index: 1;
}

.content h1 {
  position: relative;
  font-size: 1.2rem;
  padding: 1rem 0;
  z-index: 2;
}

.content p {
  color: var(--Grey-100);
  line-height: 1.5;
}

.c,
.c p,
.e,
.e p {
  color: var(--Grey-400);
}

.d {
  color: var(--Grey-200);
}

.heading {
  display: flex;
  align-items: center;
}

.heading .heading-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  text-transform: capitalize;
}

.heading-text p:last-child {
  font-size: 0.85rem;
  opacity: 0.7;
}

.a {
  background-color: var(--Purple-500);
}
.b {
  background-color: var(--Grey-500);
}
.c {
  background-color: var(--White);
}
.d {
  background-color: var(--Dark-blue);
}
.e {
  background-color: var(--White);
}

@media (min-width: 600px) {
  body {
    padding: 4rem 2rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .a {
    grid-column: 1 / 3;
  }

  .d {
    grid-column: 1 / 3;
  }

  .e {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1000px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 2rem;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 75%;
  }

  .a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .b {
    grid-column: 3;
    grid-row: 1;
  }
  .c {
    grid-column: 1;
    grid-row: 2;
  }
  .d {
    grid-column: 2 / 4;
    grid-row: 2;
  }
  .e {
    grid-column: 4;
    grid-row: 1 / 3;
  }

  .content h1 {
    font-size: 1.4rem;
  }
}
